.body{    
    color: white;
    margin-left: 1%;
    margin-top: 1%;
  }
  form{
      font-size: 30px; 
  }
  #calculateResult{
      margin-top: 10px;
  }
  #count{
      margin-top: 10px;
  }